<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Magazyn</a>
  </div>
</nav>
  <div class="container">

    <h1 class="mb-1 mt-5">{{title}}</h1>

    {{{body}}}
  </div>
</body>

</html>